In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import svm
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split
%matplotlib inline

In [2]:
train_data=pd.read_csv('train.csv')
test_data=pd.read_csv('test.csv')

In [3]:
cross_validate=train_data.loc[25000:31997]
train_data=train_data.loc[0:25001]
train_data

,duration,wage-increase-first-year,wage-increase-second-year,wage-increase-third-year,cost-of-living-adjustment,working-hours,pension,standby-pay,shift-differential,education-allowance,statutory-holidays,vacation,longterm-disability-assistance,contribution-to-dental-plan,bereavement-assistance,contribution-to-health-plan,class
0,3,3.597483,4.000000,5.000000,0,40.000000,2,8.32238,3.0,0,11.000000,0,1,1,1,2,1
1,3,3.968619,4.000000,5.100000,1,40.000000,2,2.00000,3.0,0,12.000000,1,1,2,1,2,1
2,2,6.328544,5.089680,5.000000,0,35.915468,2,2.00000,4.0,0,12.000000,1,1,1,1,2,1
3,2,4.348288,5.336979,5.000000,0,37.651356,2,2.00000,3.0,0,15.000000,1,1,2,1,2,1
4,2,3.530789,2.892247,2.029438,0,40.000000,2,2.00000,4.0,0,11.000000,1,1,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24997,2,4.507784,5.372851,4.571554,0,38.094153,2,10.00000,3.0,0,10.358857,0,1,2,1,1,1
24998,3,5.653604,4.000000,5.000000,0,33.832231,2,2.00000,3.0,0,12.000000,2,1,1,1,2,1
24999,2,3.149863,3.169706,5.000000,0,40.000000,2,2.00000,3.0,0,10.262258,0,0,1,0,2,0
25000,2,4.372575,4.000000,5.000000,2,40.000000,1,2.00000,5.0,0,11.000000,1,1,2,1,2,1
25001,2,5.789343,5.861907,5.000000,0,40.000000,2,2.00000,3.0,0,12.000000,2,1,1,1,2,1

In [4]:
train_data.isnull().sum()

duration                          0
wage-increase-first-year          0
wage-increase-second-year         0
wage-increase-third-year          0
cost-of-living-adjustment         0
working-hours                     0
pension                           0
standby-pay                       0
shift-differential                0
education-allowance               0
statutory-holidays                0
vacation                          0
longterm-disability-assistance    0
contribution-to-dental-plan       0
bereavement-assistance            0
contribution-to-health-plan       0
class                             0
dtype: int64

In [5]:
y_train=train_data['class']
train_data=train_data.drop(columns=['class'])
cross_validate_y=cross_validate['class']
cross_validate=cross_validate.drop(columns=['class'])

In [6]:
X_train,X_test,Y_train,Y_test=train_test_split(train_data,y_train,test_size=0.2,random_state=42)
#sc=StandardScaler()
#X_train=sc.fit_transform(X_train)
#X_test=sc.transform(X_test)

In [7]:
#Random Classifier.
#from sklearn.datasets import make_classification
#X_train,Y_train=make_classification()
rfc=RandomForestClassifier()
#rfc=svm.SVC()
rfc.fit(X_train,Y_train)
pred_rfc=rfc.predict(X_test)
pred_rfc2=rfc.predict(cross_validate)

In [8]:
#print(classification_report(Y_test,pred_rfc))
print(classification_report(cross_validate_y,pred_rfc2))

              precision    recall  f1-score   support

           0       0.94      0.93      0.94      2412
           1       0.97      0.97      0.97      4585

    accuracy                           0.96      6997
   macro avg       0.95      0.95      0.95      6997
weighted avg       0.96      0.96      0.96      6997

In [11]:
submission=rfc.predict(test_data)
submission=pd.DataFrame(submission)
submission.to_csv('submission.csv',header=['class'],index=False)

In [10]:
#submission.count_values()